logs/
front_end/dist
bscreen/dist
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
.idea/
.vscode/
run/
.DS_Store
*.sw*
*.un~
*.rar
*.zip
*.git
/front_end/*.bat
